.mama{
	margin: 0 -15px;
}
/*Меню навигации*/
body{
	font-family: 'Montserrat', sans-serif; 
}
li a{
	text-decoration: none;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding-left: 49px; 
}
nav ul li:last-of-type{
	padding-left:88px;
	padding-right: 101px;
}
.menu{
	height: 137px;
	background-color: rgba(0,0,0, 0.7)
}
header{
	background-image: url(../images/Untitled-3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 967px
}
header nav ul li a{
	color:#fff;
	height:18px;
}
header nav ul li a:hover{
	color:rgb(57,185,239);
	text-decoration:underline; 
}

/*Главный заголовок*/
}
div h1 span{
	color:rgb(57,185,239);
}
div.zagolovok{
	height: 830px;
	background-color: rgba(0,0,0,0.6);
}
div h1, div p{
	display:block;
	color:#fff;
}
div h1{
	font-size: 72px;
	font-weight:bold;
	text-align: center;
	margin-top: 250px;
	margin-bottom: none;
}
div p{
	font-size: 24px;
	text-align: center;
}
header div.coll-to a{
	display: block;
	width:215px;
	height:50px;
	background-color:#2ebaee;
	color: #fff;
	text-align: center;
	border-radius: 50px;
	margin: 0 auto;
	line-height: 50px;/*Выравнивание по высоте внутри кнопки*/
	font-size: 18px;
	font-weight: bold;
}
/*Наши сервисы*/
section div p{
	color: #000;
}
section h2{
	text-align: center;
	height: 195px;
	border-bottom: solid 2px;
	border-color: rgb(231,231,231);
	padding-top: 80px;
	font-size: 48px;
}
section div.frst_sect img{
	margin-top: 77px;
	margin-bottom: 54px;
}
section div h3{
	font-size: 24px;
	color:#242424;
	margin-bottom: 33px;
}
section div p{
	color:#cdcdcd;
	font-size: 14px;
	padding-right: 15px;
	margin-right: 15px;
	text-align: left;
}
section div a.serv_btn{
	text-align: center;
	margin:0 auto;
	padding-top: 10px;
	margin-top: 92px;
	background-color: #2ebaee;
	border-radius: 35px; 
	height: 44px;
	width: 151px;
	color: #fff;
	font-size: 14px;
}
/******************************************
**********Second section*******************
******************************************/
section div.scnd_sect h3{
	font-size: 36px;
	color:#242424;
	text-align: left;
	margin-top: 184px;
	margin-bottom: 55px;
	padding-top: 89px;
	max-width: 506px;
}
section div.scnd_sect p{
	color:#cdcdcd;
	font-size: 14px;
	text-align: left;
	max-width: 506px
}
a.show_more_btn{
	height: 44px;
	width: 151px;
	background-color: #2ebaee;
	border-radius: 35px; 
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding-top: 10px;
	display: block;
}
#haha{
	margin-top: 184px;
	margin-bottom:173px;
	margin-left: 32px;
	padding-left: 32px; 
	box-sizing: border-box;
}
/******************************************
**********Third section*******************
******************************************/
section div.thrd_sect img{
	margin-top: none;
	margin-bottom: 250px;
}
#momo{
 margin-top:170px; 
 margin-left: 132px;
 padding-left: 66px;
 text-align: left;
}
section div.thrd_sect p{
  margin-left: 132px;
 padding-left: 66px;
 text-align: left;
}
section div.thrd_sect a{
 margin-left: 200px;
 background-color: #fff;
 color:#2ebaee;
}
/*idc*/
section.idc div h3{
	font-size: 72px;
	font-weight: bold;
	margin-top: 65px;
	padding-top: 65px;
	margin-left: 76px;
	padding-left: 0;
}
section.idc div p{
	margin-left: 76px;
	padding-left: 0;
}
section.idc div a{
	margin-left: 76px;
	padding-left: 0;
}
.of1{
	background-image:url(../images/Untitled-17.png);
	min-height: 430px;
}
.of2{
	background-image:url(../images/Untitled-19.png);
	min-height:430px;
}
.of3{
	background-image:url(../images/Untitled-16.png);
	min-height:430px;
}
.of4{
	background-image:url(../images/Untitled-18.png);
	min-height:430px;
}
section.next-boy h4{
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	margin: 0;
	padding: 140px 65px 0 65px;
}
section.next-boy h4:hover{
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	height: 100%;
	width: 100%;
	background: rgba(57, 157, 195, 0.7);
	margin: 0;
	padding: 140px 65px 0 65px;
}

section.monk h3{
	margin-bottom: 110px;
	margin-top: 95px;
	font-size: 72px;
	max-width: 550px;
	text-align: left;
}
section.monk h3 span{
	color:#2ebaee;
}
section.monk img{
	margin-right: 97px;
	margin: 0 auto;
	box-sizing: border-box;
}
section.monk h4{
	font-size: 36px;
	margin: 0 auto;
}
section.monk p{
	text-align: center;
	width: 100%;
}
section.monk a{
	margin: 0 auto;
}
section.monk div{
	text-align: center;
}
section.monk{
	height: 855px;
}

/*********************
*****prefooter********
*********************/
section.prefooter h3{
	margin-top: 135px;
	margin-bottom: 70px;
	font-size: 72px;
	color: #fff;
}
#asdf{
	margin-top: 155px;
}
input.jam{
	margin-bottom: 23px;
	width: 100%;
	min-height: 62px;
	background-color: rgba(0,0,0,0);
	border-radius: 5px;
	color:#fff;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
}
input.maj{
	height: 205px;
	width: 100%;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    color:#fff;
    font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
}
input.jam::-webkit-input-placeholder{
    color:#fff;
    font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
}
input.jam::-moz-placeholder{
    color:#fff;
    font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
}   
input.jam:-moz-placeholder{
    color:#fff;
    font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
}  
input.jam:-ms-input-placeholder{
    color:#fff;
    font-size: 14px;
	font-weight: bold;
	padding-left: 10px;	
}
input.maj::-webkit-input-placeholder{
    color:#fff;
    font-size: 14px;
	font-weight: bold;
	padding-left: 10px;

}
input.maj::-moz-placeholder{
    color:#fff;
    font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
}   
input.maj:-moz-placeholder{
    color:#fff;
    font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
}  
input.maj:-ms-input-placeholder{
    color:#fff;
    font-size: 14px;
	font-weight: bold;
	padding-left: 10px;	
} 
input.maj:focus{
	outline-color:rgba(0,0,0,0);
}
input.jam:focus{
	outline-color:rgba(0,0,0,0);
}
section.prefooter p{
	font-size:18px; 
	margin-bottom:32px;
	color:#fff;
	text-align:
}
section.prefooter{
	background-image: url(../images/Untitled-30.png);
	height: 724px;
}
section.prefooter p span{
	color:#2ebaee;
}
section.prefooter p.pspan{
	font-size: 30px;
}
section.prefooter img{
	margin-right: 35px;
}
section.prefooter a{
	text-align: center;
	margin: 32px auto;
}

/**********************
*******footer**********
**********************/
footer{
	height: 135px;
	background-color: #000;
}
footer div.col-6{
	height: 135px;
}
footer div p{
	font-size: 14px;
}
footer div a{
	margin-right:15px;
	color:#a4a4a4; 
	font-size: 14px;
	text-decoration:none;
}